[submodule "vendor/clipp"]
	path = vendor/clipp
	url = https://github.com/muellan/clipp
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/term_chart"]
	path = vendor/term_chart
	url = https://github.com/Toasterbirb/term_chart
